skrt_conda.sh
.*
!.gitignore
!.gitlab-ci.yml
!.github
!.nojekyll
__pycache__
dist
build
*.egg-info/
*.nii*
*.dcm
*.root
*.csv
tests/tmp
examples/*/tests/tmp
examples/casscade/notebooks/results
examples/import/notebooks/results
docs/build/*
docs/source/import_analysis*
docs/source/skrt*
docs/source/voxtox*
docs/source/*.md
docs/source/_static/*
makefile
!docs/Makefile
skrt_conda.sh
registration_results/
segmentation_workdir/
figures/
