.*
!.gitignore
!.gitlab-ci.yml
!.github
!.nojekyll
__pycache__
dist
build
*.egg-info/
*.nii*
*.dcm
tests/tmp
examples/*/tests/tmp
docs/build/*
docs/source/skrt*
docs/source/voxtox*
docs/source/*.md
makefile
!docs/Makefile
