skrt_conda.sh
.*
!.gitignore
!.gitlab-ci.yml
!.github
!.nojekyll
__pycache__
dist
build
*.egg-info/
*.nii*
*.dcm
*.root
*.csv
tests/tmp
examples/*/tests/tmp
examples/import/notebooks/results
docs/build/*
docs/source/skrt*
docs/source/voxtox*
docs/source/*.md
makefile
!docs/Makefile
skrt_conda.sh
registration_results/
figures/
