# Workflow for running Scikit-rt tests on Windows.

name: windows

on: [push, pull_request]

jobs:
  windows_test:
    runs-on: "windows-latest"

    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies.
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: Run tests.
        run: |
          cd tests
          pytest -vv
          cd ..
